---
import '../styles/global.css';
import 'aos/dist/aos.css';
---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu Portfolio</title>
  </head>
  <body>
    <slot />

    <script>
      import AOS from 'aos';
      AOS.init();
    </script>
  </body>
</html>